.starting {
  margin: 3rem auto;
  /* text-align: center; */
  padding-left: 80px;
}

.starting h1 {
  font-size: 5rem;
}

.starting p{
  font-size: 24px;
  margin-top: -70px;
}

.starting hr{
  margin-right: 60px;
}