.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #42586b;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: white;
}

.auth h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio{
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.radio input{
  display: inline-block;
  width: 10%;
  height: 20px;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #81cacf;
  border: 1px solid #81cacf;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #81cacf;
  border-color: #81cacf;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #81cacf;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #81cacf;
}
